.timer{
    // background-image: url("../../../assets/time-holder.png");
    background-repeat: no-repeat;
    background-size: 100px;
   
    background-position: center;
    height: 100px;
    display: grid;
    align-items: center;

    h2{
         font-size: 26px;
         margin-right: 5px;
    }


}