.container{
    background-color: white;
    padding:22px 30px;
    border-radius:8px;
    font-size: 50px;
    text-align: center;
    vertical-align: middle!important;
    display: table-cell;
    font-family: 'Lobster', cursive;
    font-weight: 900;
    border-bottom: solid 7px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}