// .container{
//     text-align: -webkit-center;
//     background: url("../../assets/stars.gif"), url("../../assets/game-bg.svg") ;    
//     height: 100vh;
//     background-size: 400px, cover;
//     display: flex;
//     justify-content: center;
//     flex-direction: column;
//     align-items: center;
// }
    
// .title{
//     width: 500px;
// }

.login-btn{    

    background: url(../../assets/login-button.svg) no-repeat center;
    width: 20vw;
    height: 10vh;
    border: none;
    cursor: pointer;
    color: white;
    font-family: 'Fredoka One', cursive;
    font-size: 22px;
}

.login-btn:hover{
    transition: 0.3s;
    background: url(../../assets/button-hover.svg) no-repeat center;
}

// .login-form{
//     align-items: center;
//     display: flex;
//     flex-direction: column;
//     background: url("../../assets/planet.svg") no-repeat center fixed ;
//     background-size: cover;
//     // background-color: white;
//     margin-top: 5vh;
//     width: 35vw;
//     height: 32vh;
//     justify-content: center;
//     border: 4px #d6d4f3 solid;
//     border-radius: 30px;


// }

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: white !important;
    border-color: white!important;
   }
::ng-deep  .mat-form-field-label {
    /*change color of label*/
    color: white !important;
    border-color: white!important;
   }



::ng-deep .mat-form-field {
    /*change color of label*/
    color: white !important;
    border-color: white!important;
   }

