body{
    margin: unset;
    padding: unset;
}

// html{
//     background: url("../src/assets/game-bg2.svg") no-repeat center fixed;
//     height: 100vh;
//     background-size: cover;
// }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
